<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-flc-udpsocket" version="1.4.2">
    <name>cordova-plugin-flc-udpsocket</name>
    <description>Cordova FullLegitCode UDP Socket Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,flc,udp,datagram,socket</keywords>

    <js-module src="www/udpsocket.js" name="FlcUdpSocket">
        <clobbers target="cordova.plugins.FlcUdpSocket" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FlcUdpSocket" >
                <param name="android-package" value="pl.fulllegitcode.udpsocket.FlcUdpSocketPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/pl/fulllegitcode/udpsocket/FlcUdpSocketPlugin.java" target-dir="src/pl/fulllegitcode/udpsocket" />
        <source-file src="src/android/pl/fulllegitcode/udpsocket/Socket.java" target-dir="src/pl/fulllegitcode/udpsocket" />
    </platform>
    
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="FlcUdpSocket">
          <param name="ios-package" value="FlcUdpSocketPlugin" />
        </feature>
      </config-file>
      
      <header-file src="src/ios/pl/fulllegitcode/udpsocket/FlcUdpUtilObjectiveC.h" target-dir="src/pl/fulllegitcode/udpsocket" />
      <source-file src="src/ios/pl/fulllegitcode/udpsocket/FlcUdpUtilObjectiveC.m" target-dir="src/pl/fulllegitcode/udpsocket" />
      <header-file src="src/ios/pl/fulllegitcode/udpsocket/flcudpsocket.h" target-dir="src/pl/fulllegitcode/udpsocket" />
      <source-file src="src/ios/pl/fulllegitcode/udpsocket/flcudpsocket.c" target-dir="src/pl/fulllegitcode/udpsocket" />
      <source-file src="src/ios/pl/fulllegitcode/udpsocket/FlcUdpSocket.swift" target-dir="src/pl/fulllegitcode/udpsocket" />
      <source-file src="src/ios/pl/fulllegitcode/udpsocket/UDPClient.swift" target-dir="src/pl/fulllegitcode/udpsocket" />
      <source-file src="src/ios/pl/fulllegitcode/udpsocket/UDPSocket.swift" target-dir="src/pl/fulllegitcode/udpsocket" />
      <source-file src="src/ios/pl/fulllegitcode/udpsocket/UDPResult.swift" target-dir="src/pl/fulllegitcode/udpsocket" />
      <source-file src="src/ios/pl/fulllegitcode/udpsocket/FlcUdpSocketPlugin.swift" target-dir="src/pl/fulllegitcode/udpsocket" />
    </platform>

    <platform name="windows">
        <js-module src="src/windows/flc-udpsocket-proxy.js" name="FlcUdpSocketProxy">
            <runs />
        </js-module>

        <framework src="src/windows/FullLegitCode.UdpSocket.winmd" custom="true" />

        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
            <Capability Name="privateNetworkClientServer" />
        </config-file>
    </platform>
</plugin>
