<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-flc-udpsocket" version="1.2.0">
    <name>cordova-plugin-flc-udpsocket</name>
    <description>Cordova FullLegitCode UDP Socket Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,flc,udp,datagram,socket</keywords>

    <js-module src="www/udpsocket.js" name="FlcUdpSocket">
        <clobbers target="cordova.plugins.FlcUdpSocket" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FlcUdpSocket" >
                <param name="android-package" value="pl.fulllegitcode.udpsocket.UdpSocket"/>
            </feature>
        </config-file>

        <source-file src="src/android/pl/fulllegitcode/udpsocket/UdpSocket.java" target-dir="src/pl/fulllegitcode/udpsocket" />
    </platform>
</plugin>
